# Bật module rewrite
RewriteEngine On
RewriteBase /

# Chặn truy cập trực tiếp vào các tập tin PHP ngoại trừ index.php
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteRule \.php$ - [F]

# TRANG 404 ( KHÔNG TÌM THẤY )
ErrorDocument 404 /404.html

### CLIENT
RewriteRule ^$ index.php?controller=client/HomeController&action=homepage [QSA,L]

RewriteRule ^login$ index.php?controller=client/AuthController&action=loginpage [QSA,L]
RewriteRule ^auth/register$ index.php?controller=client/AuthController&action=on_regist [QSA,L]
RewriteRule ^auth/login$ index.php?controller=client/AuthController&action=on_login [QSA,L]
RewriteRule ^auth/logout$ index.php?controller=client/AuthController&action=on_logout [QSA,L]

RewriteRule ^danh-muc/(.*)$ index.php?role=client&page=category&slug=$1 [QSA,L]

# USER
RewriteRule ^user/dashboard$ index.php?controller=client/user/DashboardController&action=show_page&middleware=auth [QSA,L]
RewriteRule ^user/my-course$ index.php?controller=client/user/CourseController&action=show_page&middleware=auth [QSA,L]
RewriteRule ^user/course/create$ index.php?controller=client/user/CourseController&action=show_create&middleware=auth [QSA,L]
RewriteRule ^/api/user/course/create$ index.php?controller=client/user/CourseController&action=create&middleware=auth [QSA,L]
RewriteRule ^user/course/build-lesson/(.*)$ index.php?controller=client/user/CourseController&action=show_build_lesson&middleware=auth&course_id=$1 [QSA,L]
